<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>首页</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta name="misapplication-tap-highlight" content="no" />
		<meta name="HandheldFriendly" content="true" />
		<meta name="MobileOptimized" content="320" />
		<!--h5+-->
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" href="dist/css/index.css" />
		<!--轮番图插件-->
		<link rel="stylesheet" type="text/css" href="swipeslider/css/style.css">
		<link rel="stylesheet" type="text/css" href="swipeslider/css/swipeslider.css">

		<link rel="stylesheet" href="./dist/css/cre_index.css" />

		<link rel="stylesheet" href="./dist/css/cre_index.css" />

		<link rel="stylesheet" href="./dist/css/per_indx.css" />

		<script type="text/javascript" src="./dist/js/ser_index.js"></script>

	</head>
	<body>
		<header id="header">
			<div id="back" style="visibility:hidden" class="nvbt iback" onclick="plus.runtime.quit()"></div>
			<div class="nvtt">信用贷款</div>
			<!--<div class="nvbt iabout" onclick="clicked('about.html','zoom-fade-out',true)"></div>-->
		    <div class="nvbt iabout"></div>
		</header>
		<div >
			<div class="parent" id="parent">
				<!--容器-->
				<div class="container_wrap">
					<!--底部tab切换对应的每一项      推荐-->
					<div class="option_tab">
						<!--banner-->
						<section class="banner" id="banner">
							<div class="banner_container">
								<figure id="full_feature" class="swipslider">
									<ul class="sw-slides">
										<!--<li class="sw-slide" v-for="(item , i) in banner">
										<img v-bind:src="item.carousel_img" alt="Summer beach concept">
									</li>-->
										<li class="sw-slide">
											<img src="http://tuiguang.yuanchuangyuan.com/verb/data/upload/money/20171212/5a2f71027a617.jpg" alt="" />
										</li>
										<li class="sw-slide">
											<img src="http://tuiguang.yuanchuangyuan.com/verb/data/upload/money/20171212/5a2f70b2703f8.png" alt="" />
										</li>
									</ul>
								</figure>
							</div>
						</section>

						<!--credit_nav_wrap-->
						<div class="credit_nav_wrap">
							<!--借款导航-->
							<ul class="credit_nav">
								<li class="blue" onclick="clicked_canshu(this,'pages/credit/cre_list.html')" v-bind:credit_id="item.id" v-for="(item , index) in credit_type" v-bind:class="{'blue':index==0, 'yellow': index==1,'pink': index==2,'deepblue': index==3}">
									<span class="color">{{item.type_name}}</span>
									<span>{{item.type_des}}</span>
								</li>
							</ul>
						</div>
						<!--content-->
						<div class="content head_top">
							<!--广播-->
							<div class="broadcast">
								<img src="dist/img/broadcast.png" alt="" class="broadcast_img" />
								<div class="list_wrap">
									<ul class="list">
										<li>
											<div class="msg"><i>王**</i>在<span>信用贷-信用钱</span>包成功借款 <span>1000</span> 元 </div>
											<strong class="time">5分钟前</strong>
										</li>
										<li>
											<div class="msg"><i>王**</i>在<span>信用贷-信用钱</span>包成功借款 <span>1000</span> 元 </div>
											<strong class="time">5分钟前</strong>
										</li>
										<li>
											<div class="msg"><i>王**</i>在<span>信用贷-信用钱</span>包成功借款 <span>1000</span> 元 </div>
											<strong class="time">5分钟前</strong>
										</li>
										<li>
											<div class="msg"><i>王**</i>在<span>信用贷-信用钱</span>包成功借款 <span>1000</span> 元 </div>
											<strong class="time">5分钟前</strong>
										</li>
										<li>
											<div class="msg"><i>王**</i>在<span>信用贷-信用钱</span>包成功借款 <span>1000</span> 元 </div>
											<strong class="time">5分钟前</strong>
										</li>
										<li>
											<div class="msg"><i>王**</i>在<span>信用贷-信用钱</span>包成功借款 <span>1000</span> 元 </div>
											<strong class="time">5分钟前</strong>
										</li>
										<li>
											<div class="msg"><i>王**</i>在<span>信用贷-信用钱</span>包成功借款 <span>1000</span> 元 </div>
											<strong class="time">5分钟前</strong>
										</li>
										<li>
											<div class="msg"><i>王**</i>在<span>信用贷-信用钱</span>包成功借款 <span>1000</span> 元 </div>
											<strong class="time">5分钟前</strong>
										</li>
										<li>
											<div class="msg"><i>王**</i>在<span>信用贷-信用钱</span>包成功借款 <span>1000</span> 元 </div>
											<strong class="time">5分钟前</strong>
										</li>
									</ul>
								</div>
							</div>
							<!--tab-->
							<div class="tab credit_list_tab">
								<ul class="list">
									<li v-for="(item,index) in change_tab" v-bind:class="{'active':index==0}" v-bind:type_id="item.id" v-on:click="changeType">
										<span>{{item.team_name}}</span>
									</li>
								</ul>
							</div>
						</div>

						<!--list-->
						<div class="content">
							<ul class="credit_list">
								<li onclick="clicked_canshu(this,'pages/credit/cre_dateils.html')" v-bind:credit_id="item.id" v-for="(item , index) in credit_list">
									<div class="line"></div>
									<div class="top">
										<div class="stages">
											<div class="left">
												<img v-bind:src="item.pro_img" alt="" class="img_icon" />
												<span>{{item.pro_name}}</span>
											</div>
											<div class="right">
												<span>{{item.apply_num}}人已申请</span>
												<img src="dist/img/hot.png" alt="" />
											</div>
										</div>
										<div class="rate">
											<span class="left" v-if="item.is_rate==1">日利率  <i>{{item.rate}}%</i></span>
											<span class="left" v-else>月利率  <i>{{item.rate}}%</i></span>
											<span class="center">额度  <i>{{item.min_money}}-{{item.max_money}}元</i> </span>
											<span class="right">成功率  <i>{{item.success_rate}}%</i></span>
										</div>
									</div>
									<div class="bottom">
										<span class="" v-for="(msg , i) in item.pro_des" v-bind:class="{'mortgage':i==0,'grant':i==1}">{{msg}}</span>
										<!--<span class="grant">30分钟快速放款!</span>-->
									</div>
								</li>
							</ul>
						</div>
					</div>
					<!--贷款-->
					<div class="option_tab ser_option">
						<!--content-->
						<div class="content head_top">
							<div class="tab ser_tab">
								<ul class="list">
									<li class="active">
										<span>热门推荐</span>
									</li>
									<li>
										<span>信用卡贷</span>
									</li>
								</ul>
							</div>
						</div>

						<!--list-->
						<div class="container">
							<!--贷款搜索-->
							<div class="content">
								<ul class="credit_list_inf">
									<li class="green" v-bind:class="{'blue':index==1,'pink':index==2,'yellow':index==3,}" onclick="clicked_canshu(this,'pages/credit/cre_list.html')" v-bind:credit_id="item.id" v-bind:ser_url="ser_url" v-for="(item , index) in pup_recom_list">
										<span>{{item.tag}}</span>
									</li>
								</ul>
							</div>

							<!--贷款推荐-->
							<!--list-->
							<div class="content" style="display:none;">
								<!--金额设置-->
								<form action="javascript:;">
									<div class="credit_set">
										<ul class="set_inf">
											<li>
												<span class="inf">借款金额 （元）: </span>
												<div class="input">
													<input type="number" name='money' v-on:input="inputvalue()" v-model="loan_mount" />
													<span>元</span>
												</div>
											</li>
											<li>
												<span class="inf">分期期限 （月）:</span>
												<div class="input">
													<!--<input type="text" name='date' placeholder="不限" />-->
													<select v-on:change="changeselect()" v-model="term">
														<option v-bind:value="select_date[index]" v-for="(item , index) in date_arr">{{item}}</option>
													</select>
													<span>月</span>
												</div>
											</li>
										</ul>
									</div>
								</form>
								<ul class="credit_list">
									<li onclick="clicked_canshu(this,'pages/credit/cre_dateils.html')" v-for="(item , index) in credit_search_list" v-bind:credit_id="item.id">
										<div class="line"></div>
										<div class="top">
											<div class="stages">
												<div class="left">
													<img v-bind:src="item.pro_img" alt="" class="img_icon" />
													<span>{{item.pro_name}}</span>
												</div>
												<div class="right">
													<span>{{item.apply_num}}人已申请</span>
													<img src="dist/img/hot.png" alt="" />
												</div>
											</div>
											<div class="rate">
												<span class="left" v-if="item.is_rate==1">日利率  <i>{{item.rate}}%</i></span>
												<span class="left" v-else>月利率  <i>{{item.rate}}%</i></span>
												<span class="center">额度  <i>{{item.min_money}}-{{item.max_money}}元</i> </span>
												<span class="right">成功率  <i>{{item.success_rate}}%</i></span>
											</div>
										</div>
										<div class="bottom">
											<span class="" v-for="(msg , i) in item.pro_des" v-bind:class="{'mortgage':i==0,'grant':i==1}">{{msg}}</span>
											<!--<span class="grant">30分钟快速放款!</span>-->
										</div>
									</li>
								</ul>
							</div>
						</div>

					</div>
					<!--服务-->
					<div class="option_tab">
					</div>
					<!--我的-->
					<div class="option_tab">
						<div class="per_img">
							<div class="msg">

								<span class="avatar">
									<img v-bind:src="avatar" alt="" class="img_icon" />
									<form id="uploadForm" enctype="multipart/form-data">
								        <input type="hidden" name='uid' value='3' style="font:.2rem/.3rem '微软雅黑';color:#333;text-align:center;"/>
										<input class="img-btn upimg" type="file" id="drivingLicence" name="file" onchange="up_img()">
									</form>
								</span>
								<span onclick="clicked('./pages/person/per_inf.html')">{{user_name}}</span>
							</div>
						</div>
						<!--option-->
						<div class="option">
							<ul>
								<li>
									<div class="item" onclick="clicked('./pages/person/application_list.html')">
										<img src="./dist/img/credit_query.png" alt="" />
										<span>贷款历史记录</span>
									</div>
								</li>
								<li>
									<div class="item" onclick="clicked_canshu(this,'./pages/blank_page/webview_embed.html')" v-bind:url_path="url_arr.jd">
										<img src="./dist/img/credit_query.png" alt="" />
										<span>贷款进度查询</span>
									</div>
								</li>
								<li>
									<div class="item" onclick="clicked_canshu(this,'./pages/blank_page/webview_embed.html')" v-bind:url_path="url_arr.zx">
										<img src="./dist/img/credit_query.png" alt="" />
										<span>我的征信报告</span>
									</div>
								</li>
								<li>
									<div class="item" onclick="clicked_canshu(this,'./pages/blank_page/webview_embed.html')" v-bind:url_path="url_arr.xyk">
										<img src="./dist/img/credit_query.png" alt="" />
										<span>办理信用卡</span>
									</div>
								</li>
								<li>
									<div class="item" onclick="clicked_canshu(this,'./pages/blank_page/webview_embed.html')" v-bind:url_path="url_arr.gl">
										<img src="./dist/img/credit_query.png" alt="" />
										<span>攻略指南</span>
									</div>
								</li>
								<li>
									<div class="item" onclick="clicked_canshu(this,'./pages/blank_page/webview_embed.html')" v-bind:url_path="url_arr.hd">
										<img src="./dist/img/credit_query.png" alt="" />
										<span>我的活动</span>
									</div>
								</li>
								<li>
									<div class="item" onclick="clicked_canshu(this,'./pages/blank_page/webview_embed.html')" v-bind:url_path="url_arr.gd">
										<img src="./dist/img/credit_query.png" alt="" />
										<span>更多</span>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--footer-->
		<div class="footer">
			<ul>
				<li>
					<a href="javascript:;">
						<img src="dist/img/recommend1.png" alt="" />
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<img src="dist/img/credit.png" alt="" />
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<img src="dist/img/service.png" alt="" />
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<img src="dist/img/grouping1.png" alt="" />
					</a>
				</li>
			</ul>
		</div>
	</body>
	<!--弹出框-->

	<script src="dist/js/jquery-2.2.4.min.js"></script>
	<script src="dist/js/base.js?22"></script>

	<script type="text/javascript" src="js/common.js"></script>
	<script type="text/javascript" src="js/update.js"></script>
	<script type="text/javascript" src="js/immersed.js"></script>
	<script type="text/javascript" src="js/shortcut.js"></script>

	<!--轮番图插件-->
	<script type="text/javascript" src="swipeslider/js/swipeslider.min.js"></script>

	<!--<script src="https://cdn.bootcss.com/vue/2.4.4/vue.js"></script>-->
	<script type="text/javascript" src="dist/js/vue_mian.js"></script>
	<script type="text/javascript" src="dist/js/index1.js"></script>
	<script type="text/javascript" src="dist/js/index.js"></script>

</html>