<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>首页</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta name="misapplication-tap-highlight" content="no" />
		<meta name="HandheldFriendly" content="true" />
		<meta name="MobileOptimized" content="320" />
		<link rel="stylesheet" href="../../css/common.css" />
		<link rel="stylesheet" href="../../dist/css/cre_list.css" />
	</head>

	<body>
		<header id="header">
			<div id="back" class="nvbt iback" onclick="back()"></div>
			<div class="nvtt" id='title'>必须金服</div>
			<!--<div class="nvbt iabout" onclick="clicked('about.html','zoom-fade-out',true)"></div>-->
		</header>
		<div class="parent" id="cre_list">
			<!--list-->
			<div class="content">
				<ul class="credit_list">
					<li onclick="clicked_canshu(this,'../../pages/credit/cre_dateils.html')" v-bind:credit_id="item.id" v-for="(item , index) in credit_list">
						<div class="line"></div>
						<div class="top">
							<div class="stages">
								<div class="left">
									<img v-bind:src="item.pro_img" alt="" class="img_icon" />
									<span>{{item.pro_name}}</span>
								</div>
								<div class="right">
									<span>{{item.apply_num}}人已申请</span>
									<img src="../../dist/img/hot.png" alt="" />
								</div>
							</div>
							<div class="rate">
								<span class="left" v-if="item.is_rate==1">日利率  <i>{{item.rate}}%</i></span>
								<span class="left" v-else>月利率  <i>{{item.rate}}%</i></span>
								<span class="center">额度  <i>{{item.min_money}}-{{item.max_money}}元</i> </span>
								<span class="right">成功率  <i>{{item.success_rate}}%</i></span>
							</div>
						</div>
						<div class="bottom">
							<span class="" v-for="(msg , i) in item.pro_des" v-bind:class="{'mortgage':i==0,'grant':i==1}">{{msg}}</span>
							<!--<span class="grant">30分钟快速放款!</span>-->
						</div>
					</li>
				</ul>
			</div>
		</div>
	</body>

	<script type="text/javascript" src="../../dist/js/jquery-2.2.4.min.js"></script>
	<script type="text/javascript" src="../../dist/js/base.js"></script>

	<script type="text/javascript" src="../../js/common.js"></script>
	<script type="text/javascript" src="../../js/update.js"></script>
	<script type="text/javascript" src="../../js/immersed.js"></script>
	<script type="text/javascript" src="../../js/shortcut.js"></script>

	<!---->
	<script src="https://cdn.bootcss.com/vue/2.4.4/vue.js"></script>

	<script src="../../dist/js/cre_list.js"></script>

</html>